.menuScreen {
    display: flex;
    margin: 20px;
    height: 82%;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: #eaeaea;
}

.hidden {
    display: none;
}