.navbar {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navSection {
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px 0 20px;
    margin: 20px 0 0 0;
    text-align: center;
    border-radius: 20px;
}

.navSection:hover {
    cursor: pointer;
}

.active-navSection {
    text-decoration: underline rebeccapurple;
    text-decoration-thickness: 5px;
}